*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}

img{
  height: 500px;
  border-radius: 20px;
  width: 900px;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card{
  height: 500px;
  margin: 50px;
  overflow: hidden;
}

.intro{
  height: 70px;
  witdh: 800px;
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  border-radius: 20px;
  transition: 0.5s;
  opacity: 0.8;
}

p{
  visibility: hidden;
  opacity: 0;
  width: auto;
}

.card:hover{
  cursor: pointer;
}

.card:hover .intro{
  height: 240px;
  background: #000;
}

.card:hover p{
  opacity: 1;
  visibility: visible;
  color: #fff;
}